[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pandas = "*"
numpy = "*"
geopandas = "*"
carto2gpd = "*"
loguru = "*"
click = "*"
gun-violence-dashboard-data = {editable = true, path = "."}
simplejson = "*"
rtree = "*"
requests = "*"
bs4 = "*"
cached-property = "*"
phl-courts-scraper = {editable = true, git = "git://github.com/PhiladelphiaController/phl-courts-scraper", ref = "master"}
webdriver-manager = "*"
esri2gpd = "*"
xlrd = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
