numpy
pandas
geopandas
click
carto2gpd
loguru
simplejson
rtree
requests
bs4
cached_property
phl_courts_scraper @ git+https://github.com/PhiladelphiaController/phl-courts-scraper@master
webdriver_manager